<body>
  <main>
    <section class="header">
      <h1>Radiance - Home</h1>
      <h2>Oops!</h2>
    </section>

    <section class="error">
      <h2>Damn, you broke out!</h2>
      <img src="/static/images/radiance-404art.svg" alt="Empty state image" />
      <p>Relax, don't stress out, go back and try again.</p>
      <p>404 - Requested url is not found on this server, or simply doesn't
        exist.</p>
    </section>
  </main>
</body>