<body>
    <main>
        <nav class="filter">
            <a href="/"><img src="/static/images/noun-return.png" alt='Go back'></a>
            <a href="/filter-page"><img src="/static/images/noun-filter.png" alt="Filter icon"></a>
        </nav>
        <section class="header"> 
            <h1>Radiance - Profile added</h1>
            <h2>Success 🌸</h2>
        </section>

        <section class="add-success">
            <h2>You just made a profile!</h2>
            <img src="/static/images/radiance-homeart.svg" alt="Empty state image">
            <p>Look up your profile with the filters above.</p>
        </section>
    </main>
</body>