<main class="filter-page">
    <section class="header"> 
		<h1>Radiance - Filter</h1>
		<h2>Filter</h2>
	</section>

    <nav class="filter">
		<a href="#">Filter button</a>
		<img src="#" alt="Filter icon">
	</nav>

    <section>
		<h2>Filters</h2>
		<form>
            <fieldset>
                <legend>Ages</legend>
                <input type="range" id="age" name="age" 
                min="1" max="99">
            </fieldset>
        </form>
	</section>
</main>