<body>
    <main>
        <h1>Filter results</h1>
    
        <nav class="filter">
            <a href="#">Filters</a>
            <img src="/static/images/noun-filter.svg" alt="Filter icon">
        </nav>
        
        <section id="profiles">
            
        </section>
    </main>
</body>