<body>
  <main class="filter-page">
      <section class="header"> 
      <h1>Radiance - Filter</h1>
      <h2>Filter</h2>
    </section>

      <nav class="filter">
          <a href="#">Filters</a>
          <img src="/static/images/noun-filter.svg" alt="Filter icon">
      </nav>

      <section>
      <form action="/filter-results" method="POST">
              <fieldset>  {{!-- checkboxes met gender --}}
                  <legend>Gender</legend>
                    <div>
                      <input type="checkbox" id="male" name="gender" value="male">
                      <label for="male">Male</label>
                    </div>

                    <div>
                      <input type="checkbox" id="female" name="gender" value="female">
                      <label for="female">Female</label>
                    </div>

                    <div>
                      <input type="checkbox" id="non-binary" name="gender" value="non-binary">
                      <label for="non-binary">Non-binary</label>
                    </div>
              </fieldset>

              <fieldset> {{!-- checkboxes huid type --}}
                <legend>Skin types</legend>
                    <div>
                      <input type="checkbox" id="normal" name="skintype" value="normal">
                      <label for="normal">Normal</label>
                    </div>

                  <div>
                    <input type="checkbox" id="dry" name="skintype" value="dry">
                    <label for="dry">Female</label>
                  </div>

                  <div>
                    <input type="checkbox" id="oily" name="skintype" value="oily">
                    <label for="oily">Oily</label>
                  </div>

                  <div>
                    <input type="checkbox" id="sensitive" name="skintype" value="sensitive">
                    <label for="sensitive">Sensitive</label>
                  </div>

                  <div>
                    <input type="checkbox" id="combination" name="skintype" value="combination">
                    <label for="combination">Combination</label>
                  </div>
              </fieldset>
              

              <fieldset>
                  <legend>Favorite skincare</legend>
                  <div>
                      <input type="checkbox" id="natural" name="skincare" value="natural">
                      <label for="natural">Natural</label>
                  </div>

                  <div>
                    <input type="checkbox" id="korean" name="skincare" value="korean">
                    <label for="korean">Korean</label>
                  </div>

                  <div>
                    <input type="checkbox" id="african" name="skincare" value="african">
                    <label for="african">African</label>
                  </div>

                  <div>
                    <input type="checkbox" id="western" name="skincare" value="western">
                    <label for="western">Western</label>
                  </div>

                  <div>
                    <input type="checkbox" id="vegan" name="skincare" value="vegan">
                    <label for="vegan">Vegan</label>
                  </div>

                  <div>
                    <input type="checkbox" id="cruelty-free" name="skincare" value="cruelty-free">
                    <label for="cruelty-free">Cruelty-free</label>
                  </div>

                  <input type="submit" value="Search">
          </form>
    </section>
  </main>
</body>