<body>
	<main class="home">
		<section class="header"> 
			<h1>Radiance - Home</h1>
			<h2>Home</h2>
		</section>

		<nav class="filter">
			<a href="/filter-page">Filters</a>
			<img src="/static/images/noun-filter.svg" alt="Filter icon">
		</nav>

		<section class="quote">
   			<h3> {{ author }} </h3> 
			<p> {{ quote }}</p>
		</section>

		<section class="getting-started">
			<h2>Getting started</h2>
			<img src="/static/images/radiance-homeart.svg" alt="Empty state image">
			<p>Filter your preferences above to find your skincare buddies!</p>
		</section>


		<section class="buttons">
			<ul>
				<li>
					<a href="#">
					<img src="/static/images/noun-heart.svg" alt="Like icon">
					</a>
				</li>
			<li>
					<a href="#">
					<img src="/static/images/noun-cross.svg" alt="Ignore icon">
					</a>
			</li>
			</ul>
		</section>
	</main>
</body>