
<section>
	<h1>Radiance - Home</h1>
	<h2>Home</h2>
</section>

<nav>
	<a href="#">Filter button</a>
	<img src="#" alt="Filter icon">
</nav>


<section>
    <h2>Getting started</h2>
	<img src="#" alt="Empty state image">
    <p>Filter your preferences above to find your skincare buddies!</p>
</section>


<nav>
	<ul>
		<li>
			<a href="#">Like button</a>
			<img src="#" alt="Like icon">
		</li>
	<li>
		<a href="#">Ignore button</a>
		<img src="#" alt="Ignore icon">
	</li>
	</ul>
</nav>