@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Raleway:wght@400;800&display=swap');

:root {
--nyanza: #d3f8e2ff;
--mauve: #e4c1f9ff;
--amaranth-pink: #f694c1ff;
--vanilla: #ede7b1ff;
--uranian-blue: #a9def9ff;
}

body {
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Gloock', serif;
    margin: 0;
}

h1 {
    visibility: hidden;
}

a, p {
    font-family: 'Raleway', sans-serif;
}

/* home header */
.home .header {
    background-color: var(--nyanza);
    padding: 0 0 2em 0;
}

.home .header h2 { 
    display: flex;
    justify-content: center;
}

/* Section 2 */

.home .getting-started h2 {
    display: flex;
    justify-content: center;
}
.home .getting-started img {
    width: 50%;
}


.home .buttons ul {
    display: flex;
    margin: 5em 0 0 0;
    padding: 0;
    justify-content: space-evenly;
}

.home .buttons li {
    list-style-type: none;  
}

.home .buttons img {
    border: 2px solid black;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    padding: 1em;
}

.filter-page section:nth-of-type(2) {
    
}
