@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Raleway:wght@400;800&display=swap');

/* Colors */
:root {
--nyanza: #d3f8e2ff;
--mauve: #e4c1f9ff;
--amaranth-pink: #f694c1ff;
--vanilla: #ede7b1ff;
--uranian-blue: #a9def9ff;
--white: #ffffff;
}

/* General */
body {
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Gloock', serif;
    margin: 0;
}

h1 {
    visibility: hidden;
}

a, p, legend, label, li {
    font-family: 'Raleway', sans-serif;
}

li {
    font-weight: 800;
}

/* home header */
.header {
    background-color: var(--mauve);
    padding: 0 0 1.5em 0;
}

 .header h2 { 
    display: flex;
    justify-content: center;
}


/* Section 2 */
.home .getting-started {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.home .getting-started img {
    width: 75%;
}

.home .getting-started p {
    margin: 0 1em 0 1em;
    text-align: center;
}

.profile-button {
    display: flex;
    justify-content: center;
}
.profile-button a {
    border: 3px solid var(--mauve);
    border-radius: 1em;
    padding: 0.5em;
    margin: 1em 0 0 0;
    text-decoration: none;
    color: inherit;
    font-weight: 800;
    font-size: 1.3em;
    transition: 0.3s;
}
.profile-button a:hover {
    background: var(--mauve);
    color: white;
}


.filter {
    display: flex;
    position: absolute;
    top: 0.8em;
    justify-content: space-between;
    padding: 0;
    margin: 0 1em 0 1em;
}

.filter a {
    width: 14%;
    display: flex;
    justify-content: center;
}

.filter img {
    width: 100%;
}

/* Quote */
.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2em 0 3em 0;
}

.quote h3 {
    font-size: 1em;
}

.quote p {
    font-size: 0.9em;
    order: -1;
    margin: 0 1em 0.5em 1em;
}

/* Filters */
fieldset {
    display: flex;
    flex-direction: row;
    border: none; 
    flex-wrap: wrap;

    font-size: 1.2em;
}

label {
    cursor: pointer;
    position: relative;
    border: 3px solid var(--mauve);
    display: inline-block;
    padding: 0.5em;
    margin: 0.2em;
    border-radius: 1em;
    background: var(--white);
    transition: 0.3s;
    
}

legend {
    font-weight: 800;
}


input[type='radio'] {
    display: none;    
}

input[type='radio']:checked + label {
    background: var(--mauve);
    color: var(--white);
    font-weight: 800;
}

/* Form submit button, issue with selector so used class */
.submit {
    border: 3px solid var(--mauve);
    border-radius: 1em;
    background-color: var(--mauve);
    position: relative;
    cursor: pointer;
    left: 1em;
    top: 1.2em;
    padding: 0.5em;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    font-weight: 800;
    transition: 0.3s;
}
.submit:hover{
    color: white;
}
 form {
    margin: 2.5em 0 0 0;
 }

/* Results page */

profiles ul li:nth-of-type(1){
    display:flex;
    flex-direction: column;
}


.profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profiles ul {
    position: relative;
    left: 2em;
}

.profiles img {
    width: 70%;
}

.profiles .info {
    position: relative;
    background-color: beige;
    bottom: 1em;
    padding: 0.7em;
    width: 65%;
    height: 6em;
}
.profiles .info p {
    margin: 0;

}
.profiles li {
    list-style-type: none;
}

.filter-info {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: -4.3em;
}
.filter-info li {
    list-style-type: none;
    border: 1px solid black;
    margin: 0.3em;
    padding: 0.2em;
}

/* 404 page */

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 2.5em 0 0 0;
}

.error img {
    width: 75%;
}

.error p {
    margin: 0 1em 0 1em;
}
.error p:nth-of-type(2) {
    font-size: 0.7em;
    
}

.add-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 2.5em 0 0 0;
}

.add-success img {
    width: 75%;
}

.add-success p {
    margin: 0 1em 0 1em;
}


/* Form validation */

#form-error {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 0.8em;
    margin: 1em 0 0 0;
    color: red;
}